:root {
  --main-color: #1b1b1b;
  --secondary-colour: #202020;
  --btn-color: #f97922;
  --font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family);
  color: white;
  background: var(--main-color);
}
.landing-page {
  padding: 100px 20px;
}
.intro-paragraph {
  text-align: center;
  margin: 30px;
  font-size: 18px;
  font-style: oblique;
}

.btn-about,
.btn-contact {
  background: #000000;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  margin: 5px 15px;
}
.btn-about:hover,
.btn-contact:hover {
  background-color: var(--btn-color);
}
